<?xml version="1.0"?>
<!--
  ~ @author Rebeca Martínez García
  ~ @copyright  Copyright © 2018  Discover Barcelona
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dbtours_Calendar::calendar" title="Calendar" module="Dbtours_Calendar" sortOrder="10"
             parent="Dbtours_Base::base" resource="Dbtours_Calendar::calendar"/>
        <add id="Dbtours_Calendar::calendar_events" title="Manage Events" module="Dbtours_Calendar"
             sortOrder="20" parent="Dbtours_Calendar::calendar" action="calendar/events/"
             resource="Dbtours_Calendar::calendar_events"/>
    </menu>
</config>
