<?xml version="1.0"?>
<!--
  ~ @author Rebeca Martínez García
  ~ @copyright  Copyright © 2018  Discover Barcelona
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dbtours_calendar" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Calendar Events</label>
            <tab>dbtours</tab>
            <resource>Dbtours_Calendar::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="booking_event_type" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Booking Calendar Event Type</label>
                    <validate>required-entry</validate>
                    <source_model>Dbtours\Calendar\Ui\Component\Listing\Column\EventType</source_model>
                </field>
                <field id="transfer_event_type" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Transfer Calendar Event Type</label>
                    <validate>required-entry</validate>
                    <source_model>Dbtours\Calendar\Ui\Component\Listing\Column\EventType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>