# Ignore all Magento code files except our code in "app", "design" and "lib"
/*
# Except these files
!.gitignore
!.htaccess
!composer.json
!composer.lock
!/app
/app/etc/*
!/app/etc/config.php
/app/code/Magento
/app/design/*/Magento
/app/i18n
/app/*.*
!/lib
/lib/*
