<?xml version="1.0"?>
<!--
  ~ @author Rebeca Martínez García
  ~ @copyright  Copyright © 2018  Discover Barcelona
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Dbtours_TourEvent::config" title="DbTours TourEvent" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Dbtours_TourEvent::tourevent" title="Tour Events" sortOrder="20">
                    <resource id="Dbtours_TourEvent::tourevent_generation" title="Tour Events - Generation" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>