/*
 * @author Rebeca Martínez García
 * @copyright  Copyright © 2018  Discover Barcelona
 */
.page-footer {
    background-color: black !important;
    color: #f9ecd3;
    font-size: 14px;
    padding: 10px;
}

.footer__middle {
    width: 70%;
    max-width: 900px;
    margin: auto
}

.footer__middle .footer-image img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.footer__bottom a {
    color: #f9ecd3;
}
.footer__bottom a:hover {
    color: #cfae62;
}

.footer__bottom .list-inline-item {
    list-style-type: none;
}

.footer__bottom,
.footer__middle {
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .footer__middle {
        width: 90%;
    }
}