/*.header-top, .panel.wrapper{*/
    /*background-color: #cfae62;*/
    /*color: black;*/
/*}*/

.page-header div.panel.wrapper {
    border:none;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 1px 5px #cfae62;
    background-color: #cfae62;
    color: black;
}

header.page-header {
    border-bottom: 1px solid #cfae62;
    background-color: black;
}

.panel a,
.panel a:visited{
    color: #f9ecd3;
    font-weight: 500;
}

.panel a:hover {
    color: #8c6203;
}

.header.content img.logo-img {
    width:70%;
    max-width: 200px;
}

.header.content h1,
.header.content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #cfae62;
}
.header.content h1 {
   font-size: 32px;
}
.header.content h2 {
    font-size: 22px;
}

@media (min-width:768px) {
    .header.content {
        padding: 22px 20px 0;
        margin-top: 42px;
    }
}
@media only screen and (max-width: 768px) {
    .header.content h1,
    .header.content h2 {
        margin-bottom: 10px;
    }
    .header.content img.logo-img {
        width: 50%;
    }
}

@media only screen and (max-width: 573px) {
    .header.content h1,
    .header.content h2 {
    }
}