/*
 * @author Rebeca Martínez García
 * @copyright  Copyright © 2018  Discover Barcelona
 */

@media (min-width: 768px) {

    .navigation .level0.active {
        font-weight: 500;
    }

    .navigation .level0 > .level-top {
        color: #f9ecd3 !important
    }

    .navigation .level0 > .level-top:hover {
        color: #cfae62 !important
    }

    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top {
        color: #cfae62 !important;
    }

    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top {
        border-color: #cfae62 !important;
    }
}

.section-items.nav-sections-items,  nav.navigation {
    background-color: black;
}

sections.nav-sections, nav.navigation, nav.navigation:hover {
    color: #f9ecd3;
    font-weight: 700;
}

