<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Nueva Web %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer_name":"Customer Name"
"var coupon":"Coupon"
"var coupon_valid":"Coupon valid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hola {{var customer_name}},</p>
            <p><b>¡Estrenamos nueva web y queremos compartirla contigo!</b></p>
            <p>Conoce nuestros nuevos tours y disfrútalos con descuento por ser cliente de DB Tours.</p>
            <p>Canjea tu código promocional en la nueva web y obtendrás un <b>10%de descuento</b>  en tu próximo tour</p>
            <p></p>
            <p>Si tienes alguna duda para canjear tu código no dudes en ponerte en contacto con nosotros.</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info">
                <tr>
                    <td>
                        <p style="text-align: center"><b>{{var coupon}}</b></p>
                        <p style="text-align: right">* {{var coupon_valid}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
